/* ALLEGRO : Created by nakotami */
/* Licenced under WTFPL. Go nuts. */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500&display=swap');

:root {
  --primary: #518380;
  --header-text: #FFFFFF;
  --content-text: #000000;
}

body{
  font-family: 'Inter', sans-serif;
  color: var(--content-text);
}

div{
  box-sizing: border-box;
}

.header-element{
  width: 100%;
  height: 25px;
  background-color: var(--primary);
  font-size: 14px;
  padding-top: 3.5px;
  padding-left: 8px;
  font-weight: 500;
  color: var(--header-text);
  margin-top: 5px;
  margin-bottom: 5px;
}

.interior-header-modifier{
  width: calc(100% - 30px);
  display: inline-block;
}

.interior-leave-modifier{
  width: 25px;
  display: inline-block;
  cursor: pointer;
}

.interior-leave-modifier::before {
	border-style: solid;
	border-width: 0.15em 0.15em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	top: 0.15em;
	width: 0.45em;
  left: 0.25em;
  transform: rotate(-135deg) translate(-1px, 2px);
}

.content-element{
  font-size: 14px;
  margin: 10px;
}

.content-image-establish-element{
  float: left;
  padding-right: 15px;
  margin-bottom: 10px;
}

.content-image-fill-element{
  margin-top: 5px;
  width: 100%;
}

.content-link-fill-element{
  height: 20px;
  display: block;
  padding: 5px;
  padding-left: 10px;
  font-size: 15px;
  text-decoration: none;
  transition: background-color 0.1s;
}

a{
  color: var(--content-text);
}

a:visited{
  color: var(--content-text);
}

.content-link-fill-element:hover{
  background-color: #ebebeb;
}

.content-link-fill-element:focus{
  background-color: #ebebeb;
  outline: none;
  color: var(--content-text);
}

.page-root{
  width: auto;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
}

.ebb-root{
  flex: 67%;
  display: inline-block;
}

.flow-root{
  flex: 33%;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px; 
}

.headline-root{
  width: auto;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.headliner-element{
  font-size: 100px;
  font-weight: 200;
  letter-spacing: 25px;
}

.subliner-element{
  margin-top: -10px;
  font-size: 25px;
  font-weight: 200;
  margin-left: 5px;
}

.logo-element{
  float: right;
  margin-top: -100px;
}

@media only screen and (max-width: 750px) {
  .page-root{
    display: block;
  }
  .ebb-root{
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    flex: none;
  }
  .flow-root{
    flex: none;
  }
  .headliner-element{
    visibility: hidden;
  }
  .subliner-element{
    visibility: hidden;
  }
  .logo-element{
    margin-right: 10px;
  }
  body{
    min-width: fit-content;
  }
}
